<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users CRUD</title>
    <th:block th:insert="fragments/styles"/>
</head>
<body>
<main class="main">
    <h1>PP 3.1.3 | Spring Security</h1>
    <div class="central-panel">
        <h2>You can't access this url</h2>

        <a href="/" class="btn btn-primary">
            <span class="btn__text">Go To Home Page</span>
        </a>
    </div>
</main>

</body>
</html>